#!/usr/bin/env python

PACKAGE = "fast_livo"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("reinitialize_with_gt_odom", bool_t, 0, "Reinitialize LIVO state with current GT odom", False)

exit(gen.generate(PACKAGE, "fast_livo", "LIVMapperConfig"))